In [8]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [10]:
t1 = 1, 2, 'a', 'b'

'b'

In [14]:
a = {'name' : 'pey',
       'phone' : '0119993323',
       'birth' : '1118'
       }

In [15]:
for k in a.keys():
    print(k)

name
phone
birth

In [17]:
list(a.keys())

['name', 'phone', 'birth']

In [18]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [19]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [20]:
a.clear()

In [21]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

In [23]:
a.get('name')
a['name']

'pey'

In [26]:
print(a.get('nokey'))

None

In [27]:
# a를 뒤져서 값이 없으면 'bar'를 리턴해라
a.get('foo', 'bar')

'bar'

In [28]:
'name' in a

True

In [29]:
'email' in a

False

In [32]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [ ]:
s2 = set("Hellofwqafenjdfkjewfnkjusdaf njkl;asdfn piwenfjk asdfnkj wef")
s2

In [37]:
l1 = list(s1)
l1
l1[0]

1

In [40]:
t1 = tuple(s1)
t1
t1[0]

1

In [41]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [45]:
s1 & s2
s1.intersection(s2)

{4, 5, 6}

In [47]:
s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
print(s1-s2)
print(s2-s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [55]:
s1 = set([1,2,3])
# 한 개만 넣고 싶으면 .add()
s1.add(4)
s1

{1, 2, 3, 4}

In [58]:
# 여러개를 넣고싶으면 list에 싸서 .update
s1.update([5, 6, 7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [59]:
# index가 아니라 값이 없어진다.
s1.remove(1)
s1

{2, 3, 4, 5, 6, 7}

In [64]:
a = [1,2,3,4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [67]:
a = [1,2,3]
id(a)

2224249419200

In [68]:
# 복사하는 법 1
b = a[:]

In [70]:
# 복사하는 법 2
from copy import copy
b = copy(a)

In [74]:
# 연습문제
80+75+55/3

173.33333333333334

In [76]:
if 13 % 2 != 0:
    print('odd')
else:
    print('even')

odd

In [83]:
pin = '881120-1068234'
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)
print(pin[7])

881120
1068234
1

In [88]:
a = 'a:b:c:d'
b = a.replace(':', '#')
print(b)

a#b#c#d

In [91]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [128]:
a = ['Life', 'is', 'too', 'short']
result = a[0] + ' ' + a[1] + ' ' + a[2] + ' ' + a[3]
result

'Life is too short'

In [129]:
# 위처럼 저렇게 하지 말고...
result = ' '.join(a)
print(result)

Life is too short

In [113]:
# Q8
a = (1,2,3)
list(a)
a + 4

TypeError: can only concatenate tuple (not "int") to tuple

In [130]:
# Q8 sol
a = 1,2,3
a+= (4,)
a
# tuple은 변경이 불가하므로 이 경우에는 a를 없애고 a를 새로 만드는거다.

(1, 2, 3, 4)

In [117]:
a = {}
a[[1]] = 'python'
a
# 없는 Key를 참조하려고 해서 그런 게 아니고, list의 값은 변하는 값이라서 쓸 수가 없다.

TypeError: unhashable type: 'list'

In [121]:
a = {'A': 90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [124]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [125]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]